asn1crypto==0.24.0
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
lxml==4.3.4
mercurial==4.5.3
numpy==1.13.3
pycrypto==2.6.1
pyflakes==1.6.0
pygame===1.9.1release
pygobject==3.26.1
python-docx==0.8.10
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
unity-lens-photos==1.0
