
.header {
    background-color: rgb(77, 171, 248);
    color: white;
    padding-top: 16px
}
.field-error {
    color: rebeccapurple;
    font-weight:  bold;
    font-size: 0.8em;
    margin-top: -8px;

}

.flash-messages {
    list-style: armenian;
    
}
