{%  extends 'base.html' %}
{% block title %}Exchanger{% endblock %}
{% block body %}
    <table >
        <tr>
            <th class="header">Fecha</th>
            <th class="header">Descrispcion</th>
            <th class="header" >Descrispcion</th>
            <th class="header">Moneda comparada</th>
            <th class="header">Cantidad comparada</th>
            <th class="header">Precio unitario</th>
            <th class="header">Unidad pagada</th>
            <th class="header">Cantidad pagada</th>
        </tr>
        {% for movimiento in movimientos %}
        <tr>
            <th>{{movimiento[0]}}</th>
            <th>{{movimiento[1]}}</th>
            <th>{{movimiento[2]}}</th>
            <th>{{movimiento[3]}}</th>
            <th>{{movimiento[6]}}</th>
            <th>{{movimiento[5]}}</th>
            <th>{{movimiento[4]}}</th>
        </tr>
        {% endfor %}

    </table>  

    <form action="/nuevacompra">
        <br/>
        <button type="submit">Nueva compra</button>
    </form>

{% endblock %}