{%  extends 'base.html' %}
{% block title %}Exchanger{% endblock %}
{% block body %}
    <table border="1">
        <tr>
            <th>Fecha</th>
            <th>Descrispcion</th>
            <th>Moneda comparada</th>
            <th>Cantidad comparada</th>
            <th>Precio unitario</th>
            <th>Unidad pagada</th>
            <th>Cantidad pagada</th>
        </tr>
        <tr>
            <th>11/7/2019</th>
            <th>Primera compra</th>
            <th>BTC</th>
            <th>Cantidad comparada</th>
            <th>Precio unitario</th>
            <th>Unidad pagada</th>
            <th>Cantidad pagada</th>
        </tr>
    </table>    
{% endblock %}