{%  extends 'base.html' %}
{% block title %}Exchanger{% endblock %}
{% block body %}
    <table border="1">
        <tr>
            <th>Fecha</th>
            <th>Descrispcion</th>
            <th>Moneda comparada</th>
            <th>Cantidad comparada</th>
            <th>Precio unitario</th>
            <th>Unidad pagada</th>
            <th>Cantidad pagada</th>
        </tr>
        {% for movimiento in movimientos %}
        <tr>
            <th>{{movimiento[0]}}</th>
            <th>{{movimiento[1]}}</th>
            <th>{{movimiento[2]}}</th>
            <th>{{movimiento[3]}}</th>
            <th>{{movimiento[6]}}</th>
            <th>{{movimiento[5]}}</th>
            <th>{{movimiento[4]}}</th>
        </tr>
        {% endfor %}

    </table>  

    <form action="/nuevacompra">
        <br/>
        <button type="submit">Nueva compra</button>
    </form>

{% endblock %}